# Pandas Exercise (Sorting)

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [131]:
chipo = pd.read_table('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv')
chipo.shape

(4622, 5)

### Step 4. How many products cost more than $10.00?

In [132]:
# number of unique item_name and choice_description combinations with unit price > $10.00
print(len(chipo[pd.to_numeric(chipo.item_price.str.replace('$',''))/chipo.quantity >10].groupby(['item_name','choice_description'])))
# number of orders cost more than $10.00
print(chipo[pd.to_numeric(chipo.item_price.str.replace('$','')) >10].shape[0])

707
1130

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [133]:
pd.options.display.max_colwidth = 100
chipo[['item_name','item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
...                                     ...        ...
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [134]:
chipo.sort_values('item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Lettuce]]",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sour Cream, Lettuce]]",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Pinto Beans, Cheese, Sour Cream, Gua...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice, Cheese, Sour Cream]]",$8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [135]:
chipo.item_price = chipo.item_price.str.replace('$','').astype('float')

In [144]:
chipo.sort_values(by='item_price',ascending=False).iloc[0].quantity

15

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [153]:
chipo[chipo['item_name'].str.contains('Veggie Salad Bowl')].shape[0]

18

### Step 9. How many times people orderd more than one Canned Soda?

In [176]:
result = chipo[chipo.quantity>1]
result[result.item_name.str.contains('Canned Soda')].shape[0]

20