# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [20]:
import numpy as np
import pandas as pd
from pandas import Series
from pandas import DataFrame

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [21]:
first = Series(np.random.randint(1,4,size=100))
second = Series(np.random.randint(1,3,size=100))
third = Series(np.random.randint(10000,30000,size=100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [23]:
df = DataFrame({'first':first,'second':second,'third':third})

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [26]:
df.rename(columns={"first": "bedrs", "second": "bathrs", "third": "price_sqr_meter"}, inplace=True)

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [75]:
bigcolumn = DataFrame(df.apply(
    lambda x: ','.join(x.astype(str)),
    axis=1
), columns=['bigcolumn'])
bigcolumn

    bigcolumn
0   3,1,16286
1   3,1,17325
2   2,1,18967
3   2,2,17885
4   3,2,18306
..        ...
95  3,1,27574
96  2,2,29505
97  2,2,14518
98  1,1,14878
99  2,1,27050

[100 rows x 1 columns]

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [76]:
bigcolumn.index

RangeIndex(start=0, stop=100, step=1)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [79]:
bigcolumn.reindex(pd.RangeIndex(start=0, stop=300, step=1))

     bigcolumn
0    3,1,16286
1    3,1,17325
2    2,1,18967
3    2,2,17885
4    3,2,18306
..         ...
295        NaN
296        NaN
297        NaN
298        NaN
299        NaN

[300 rows x 1 columns]